extends layout

block content
  form(action="/tasks/add", method="post")
    label(for="title")
      | Tytuł
    br
    input(type="text" id="title" name="title")
    br
    input(type="submit", value="Dodaj")

table
    tr
      th(scope= "col") Tytuł
    each task in tasks
      tr
        td= task.title

table
  tr
    th(scope= "col") Tytuł
    th(scope= "col") Status
    th(scope= "col") Akcje
  each task in tasks
    tr
      td= task.title
      td= (task.status == 'completed' ? 'Zakończone' : 'Otwarte')
      td
        button(type="button" onclick=`updateTaskStatus('${task.id}', 'completed')`) ✓

block scripts
  script(src="javascripts/index.js")
